/*
 * 自定义容器
 */
@import 'common';
/****/
.header,
.tab{
   .ht();
    width: 100%;
    height: 4.4rem;
    font-size: 1.6rem;
    padding-top:1.2rem;
}
.tab{
    a{
        font-size:1.4rem ;
    }
}
.header
{
    .box-shadow();
    
    >a{
        
        display:block;
         cursor: pointer;
         
    }
   >.title{
       text-align: center;
       font-size: 1.8rem; 
        
   }
}
.fixed.header{
    left: 0;
    top: 0;
}
.fixed.tab{ 
    .box-shadow(-2px);
    bottom: 0;
}
.fixed.header ~.content{
    padding-top: 4.4rem;
}
.fixed.tab ~ .content{
    padding-bottom: 4.4rem;
}
.tab,.list-inline{
    font-size:0 ;
    >*{
        display: inline-block;
        font-size: @font;
    }
}