@import 'common';

.floder{
   .floder-t>.icon{
       .transition(.2s);
   }
    .floder-c>li{
        height: 0;
        overflow: hidden;
        .transition(.2s);
    }
}
.floder.active {
    .floder-t>.icon{
        -webkit-transform:rotate(180deg) ;
        transform:rotate(180deg) ;
    }
    .floder-c>li{
        height: 30px;   
    }
}
