@import 'common';

/**多选项单选项**/
.label-style{
    
    line-height:@font-b;
    > input[type='checkbox'],
    > input[type='radio']
    {
        width: @font-b;
        height: @font-b;
        line-height: inherit;
        appearance: none;
        -webkit-appearance: none;
         overflow: hidden;
         background-color: @ccc;
         color: #fff;
         text-align: center;
        &:checked{
             background: @checked;
             font-family: 'iconfont';
            &:before{
                content: '\e603';
            }
        }
    } 
}

.label-style > input[type='radio'],
.label-style > input[type='radio']:before{
    border-radius: 50%;
}
